@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Cats <a href="Cats">CLICK</a>.</p>
    <p>Owners <a href="Owners">CLICK</a>.</p>
    <p>Achievements <a href="Achievements">CLICK</a>.</p>
    <p>Achievement-Cat <a href="AchievementCats">CLICK</a>.</p>
</div>
